## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/lukehg/Desktop/DA_class/week_6/vacation_search/weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
1,4,Jamestown,US,80.24,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,7,Vila Franca Do Campo,PT,71.20,overcast clouds,37.7167,-25.4333,Pestana Bahia Praia
3,8,Aksu,CN,78.08,clear sky,41.1231,80.2644,Pudong Holiday Hotel
4,9,Safford,US,83.12,broken clouds,32.8340,-109.7076,SpringHill Suites by Marriott Thatcher

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
fig = gmaps.figure()

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == "Scalea", :]
vacation_end = vacation_df.loc[vacation_df.City == "Scalea", :]
vacation_stop1 = vacation_df.loc[vacation_df.City == "Sibenik", :]
vacation_stop2 = vacation_df.loc[vacation_df.City == "Methoni", :] 
vacation_stop3 = vacation_df.loc[vacation_df.City == "Milas", :] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
306,666,Scalea,IT,81.79,clear sky,39.813,15.7956,Grand Hotel de Rose

In [64]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start
stop1

array([43.7272, 15.9058], dtype=object)

In [65]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
scalea = start
sibenik = stop1
methoni = stop2
milas = stop3
roadtrip = gmaps.directions_layer(scalea, scalea, waypoints= [sibenik, methoni, milas], travel_mode="DRIVING")

fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,666,Scalea,IT,81.79,clear sky,39.8130,15.7956,Grand Hotel de Rose
1,627,Sibenik,HR,79.38,clear sky,43.7272,15.9058,Hotel Jadran
2,682,Methoni,GR,76.86,clear sky,36.8197,21.7049,Methoni Beach Hotel
3,383,Milas,TR,76.35,clear sky,37.3164,27.7839,Milashan Hotel

In [71]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
fig = gmaps.figure()

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))