In [25]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("/Users/lukehg/Desktop/DA_class/week_6/world_weather_analysis/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,High Level,CA,2022-06-20 02:45:05,58.5169,-117.1360,62.71,88,75,2.30
1,1,Hilo,US,2022-06-20 02:45:05,19.7297,-155.0900,82.27,73,100,11.50
2,2,Bengkulu,ID,2022-06-20 02:45:05,-3.8004,102.2655,79.25,85,74,9.15
3,3,Ribeira Grande,PT,2022-06-20 02:45:06,38.5167,-28.7000,63.59,74,27,22.41
4,4,Muravlenko,RU,2022-06-20 02:45:06,63.7898,74.5230,71.98,44,67,6.31

In [27]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [28]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable and set center of the map/zoom level.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2022-06-20 02:45:05,19.7297,-155.0900,82.27,73,100,11.50
2,2,Bengkulu,ID,2022-06-20 02:45:05,-3.8004,102.2655,79.25,85,74,9.15
4,4,Muravlenko,RU,2022-06-20 02:45:06,63.7898,74.5230,71.98,44,67,6.31
5,5,Rikitea,PF,2022-06-20 02:45:06,-23.1203,-134.9692,71.51,63,89,20.56
18,18,Trairi,BR,2022-06-20 02:42:54,-3.2778,-39.2689,74.97,92,0,10.33
20,20,Lufilufi,WS,2022-06-20 02:45:11,-13.8745,-171.5986,89.38,75,22,9.22
26,26,Coari,BR,2022-06-20 02:45:12,-4.0850,-63.1414,73.26,93,100,1.01
27,27,Brownsville,US,2022-06-20 02:41:16,25.9018,-97.4975,84.15,80,0,8.05
28,28,Aswan,EG,2022-06-20 02:45:13,24.0934,32.9070,79.90,22,0,11.50
30,30,Georgiyevka,KZ,2022-06-20 02:45:13,43.0369,74.7114,75.24,35,0,11.18

In [35]:
preferred_cities_df.count()

City_ID       273
City          273
Country       273
Date          273
Lat           273
Lng           273
Max Temp      273
Humidity      273
Cloudiness    273
Wind Speed    273
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1          Hilo      US     82.27  19.7297 -155.0900
2      Bengkulu      ID     79.25  -3.8004  102.2655
4    Muravlenko      RU     71.98  63.7898   74.5230
5       Rikitea      PF     71.51 -23.1203 -134.9692
18       Trairi      BR     74.97  -3.2778  -39.2689
20     Lufilufi      WS     89.38 -13.8745 -171.5986
26        Coari      BR     73.26  -4.0850  -63.1414
27  Brownsville      US     84.15  25.9018  -97.4975
28        Aswan      EG     79.90  24.0934   32.9070
30  Georgiyevka      KZ     75.24  43.0369   74.7114

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Bengkulu,ID,79.25,-3.8004,102.2655,Grage Hotel Bengkulu
4,Muravlenko,RU,71.98,63.7898,74.5230,Hostel Rus Muravlenko
5,Rikitea,PF,71.51,-23.1203,-134.9692,People ThankYou
18,Trairi,BR,74.97,-3.2778,-39.2689,janelas do mar
20,Lufilufi,WS,89.38,-13.8745,-171.5986,Leuaina Beach Resort and Spa
26,Coari,BR,73.26,-4.0850,-63.1414,Dellrey Hotel Center
27,Brownsville,US,84.15,25.9018,-97.4975,Best Western Hotel Plaza Matamoros
28,Aswan,EG,79.90,24.0934,32.9070,Nuba Nile
30,Georgiyevka,KZ,75.24,43.0369,74.7114,Gostinitsa Imperiya
32,Viransehir,TR,76.14,37.2353,39.7631,Viranşehir Öğretmenevi
35,Atuona,PF,77.92,-9.8000,-139.0333,Villa Enata
36,Port-Gentil,GA,73.56,-0.7193,8.7815,Fengshui Residence
39,Port Hedland,AU,78.85,-20.3167,118.5667,The Esplanade Hotel
40,Sokoni,TZ,77.40,-6.4333,39.5500,Ujamaa Beach Resort
41,Butaritari,KI,83.01,3.0707,172.7902,Isles Sunset Lodge
43,Panguna,PG,82.51,-6.3164,155.4848,
46,Yuanping,CN,89.53,38.7153,112.7575,Yuanping Xinghe Guesthouse
51,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
53,Yellowknife,CA,72.12,62.4560,-114.3525,The Explorer Hotel

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [51]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))